.form-box {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-wrapper {
    max-width: 480px;
    width: 100%;
    height: 42px;
    position: relative;

    .input-query {
        width: 100%;
        height: 100%;
        padding: 7px 70px 7px 10px;
        font-size: 18px;
        line-height: 26px;
        border: 1px solid $color-border-default;
        border-radius: $size-border-radius;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        &:focus {
            outline: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    }

    .submit-btn {
        width: 60px;
        height: 100%;
        color: $color-font-white;
        font-size: 110%;
        background-image: url("../img/search.svg");
        background-size: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $color-main;
        border: none;
        border-radius: 0 $size-border-radius $size-border-radius 0;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        transition: background-color $time-hover-action linear;

        &:hover {
            background-color: $color-main-light;
        }
    }

    ul.react-autosuggest__suggestions-list {
        width: 100%;
        background-color: $color-bg-white;
        border: 1px solid $color-border-default;
        border-radius: 0 0 $size-border-radius $size-border-radius;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 38px;
        z-index: 10;

        li.react-autosuggest__suggestion {
            padding: 10px;

            &:last-child {
                border: none;
            }

            &.react-autosuggest__suggestion--highlighted {
                background: $color-main-most-light;
            }
        }
    }
}

